        body {
        font-family: system-ui;
        background-color: #f4f4f9;
        display: flex;
        height: 100vh;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }