* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(46, 45, 45);
    color: white;
    display: flex;
    height: 100vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: url(Screenshot_20251013-224003~2.png) no-repeat;
    background-size: cover;
}

.bigform {
    display: flex;
    justify-content: space-between;
    
    width: 50%;
   backdrop-filter: blur(30px);
    
    height: fit-content;
    border-radius: 10px;

    
    box-shadow: 0 0 10px rgba(228, 226, 226, 0.651);


}
input{
    background-color: rgb(58, 57, 57);
    color: white;
    width: 88%;
    
    padding: 5px;
    border-radius: 5px;
}

.left-form {
    flex: 1;
    flex-wrap: 1;
    padding-inline: 10px;
    padding-block: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
  
    font-family: Arial, Helvetica, sans-serif;
}

.right-form {
    flex: 1;
    padding-inline: 10px;
    padding-block: 30px;
    border-left: 1px solid grey;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgb(22, 21, 21);
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 88%;
    margin-block: 20px;
}

button:hover {
    background-color: darkred;
}
@media screen and (max-width: 768px) 
{
    .bigform {
        flex-direction: column;
        width: 80%;
    }

    .right-form {
        border-left: none;
        border-top: 1px solid grey;
        border-top-left-radius: 0;
        border-bottom-left-radius: 16px;
        margin-top: 20px;
    }
    
    
}